@import "tailwindcss";

:root {
  --background: #ffffff; /* white */
  --foreground: #1c1917; /* stone-900 */
}

body {
  color: var(--foreground);
  background-color: var(--background);
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
}

/* Custom scrollbar clean */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: transparent; 
}
::-webkit-scrollbar-thumb {
  background: #e7e5e4; 
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #a8a29e; 
}
